textarea {
    resize: none;
    height: 100% !important;
}

.editer {
    margin-top: 5px;
    max-height: 96vh;
}

.preview {
    height: 40vh;
}

.reference {
    height: 50vh;
}

.explorer-preview {
    height: 59vh
}

.examples {
    height: 91vh
}

.overflow {
    overflow: scroll;
}

body {
    overflow: hidden;
    background: #515b65;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.card-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.89);
}

thead tr th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
}

#currentText img {
    max-width: 100%;
    height: auto;
}

.hide {
  position:absolute;
  left:-9999px
}

.versionSelected {
    background-color: #e2dcee;
}

.files {
    height: 86vh;
    padding: 2vh;
}

.log {
    padding: 3vh;
    margin-top: 10vh;
}

.height-navbar {
    height: 93vh;
    padding: 2vh;
}

.pointer-cursor {
    cursor: pointer;
}

.forbidden-cursor {
    cursor: not-allowed;
}

.fa-question-circle {
    cursor: help;
}

