{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}active{% endblock %}
{% block create %}active{% endblock %}
{% block statut %}{% endblock %}

{% block body %}
    <div class="overflow height-navbar">
        <h1 class="text-light text-center" style="font-size: 18vh; font-family: 'Courier New'">MultivitaMD</h1>
        <h1 class="text-light text-center">{{ _("À propos.") }}</h1>

        <div class="card-columns" style="padding: 10vh">
            <div class="card-shadow card">
                <div class="card-body">
                    <p class="text-center"><i class="fas fa-graduation-cap" style="font-size: 20vh"></i></p>
                    {{ _("MultivitaMD a été créé dans le cadre du projet PIAF. Le projet
                    PIAF est un projet européen s'intéressant à la formation des enseignants de lécole primaire autour de
                    la pensée informatique.
                    Évidemment, MultivitaMD peut être exploité pour tout autre projet.") }}
                </div>
                <div class="card-footer">
                    <p><a href="https://piaf.loria.fr/">{{ _("Plus de détails sur le projet PIAF") }}</a></p>
                </div>
            </div>
            <div class="card-shadow card">
                <div class="card-body">
                    <p class="text-center"><i class="far fa-lightbulb" style="font-size: 20vh"></i></p>
                    {{ _("MultivitaMD a été imagine par M. Yannick Parmentier, enseingant chercheur au sein de l'Université de
                    Lorraine. Ce dernier participe dans ce cadre au projet PIAF.") }}
                </div>
                <div class="card-footer">
                    <p><a href="https://sourcesup.renater.fr/www/tulipa/yannick/">{{ _("Page de M. Parmentier") }}</a>
                    </p>
                    <p><a href="https://www.univ-lorraine.fr/">{{ _("Site de l'Université de Lorraine") }}</a></p>
                </div>
            </div>
            <div class="card-shadow card">
                <div class="card-body">
                    <p class="text-center"><i class="fas fa-tools" style="font-size: 20vh"></i></p>
                    {{ _("MultivitaMD a été réalisé par M. Paul Claude, élève en 2ème année de DUT informatique à l'IUT
                    Charlemagne. Ce projet a été réalisé dans le cadre d'un stage pour l'obtention du DUT.") }}
                </div>
                <div class="card-footer">
                    <p><a href="https://paul-claude.herokuapp.com/">{{ _("Page de Paul") }}</a></p>
                    <p>
                        <a href="https://iut-charlemagne.univ-lorraine.fr/">{{ _("Site de l'IUT Nancy Charlemagne") }}</a>
                    </p>
                </div>
            </div>
        </div>
        <h1 class="text-light text-center">{{ _("Informations diverses.") }}</h1>
        <div class="card" style="margin: 10vh">
            <ul>
                <li>Icons/Logo made by Freepik from <a href="https://www.flaticon.com/">www.flaticon.com</a></li>
            </ul>
        </div>
    </div>

{% endblock %}