{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}{% endblock %}
{% block create %}{% endblock %}
{% block account %}active{% endblock %}

{% block title %}{{ _("Votre Compte")}}{% endblock %}

{% block body %}
    {{ form.hidden_tag() }}
    <form action="" method="post">
        <div class="card-columns" style="margin: 5vh;">
            <div class="card card-shadow text-center">
                <div class="card-body">
                    <h1>{{ _("Bienvenue %(usr)s.", usr=user.username) }}</h1>
                    <h3>{{ _("Modifiez votre compte à votre guise puis validez votre choix.") }}</h3>
                </div>
            </div>

            <div class="card card-shadow text-center" , style="background-color: rgb(242,235,255)">
                <div class="card-header"><b>{{ _("Confirmer") }}</b></div>
                <div class="card-body">
                    <label>{{ _("Mot de passe actuel") }}</label>
                    {{ form.oldPassword(class_="form-control text-center") }}
                    <hr>
                    {{ form.submit(class_="form-control btn btn-success", name_="rouge") }}
                    <hr>
                    {{ form.delete(class_="form-control btn btn-danger") }}
                </div>
            </div>

            <div class="card card-shadow text-center">
                <div class="card-header"><b>{{ _("Coordonnées") }}</b></div>
                <div class="card-body">
                    <label>{{ _("Identifiant") }}</label>
                    {{ form.username(class_="form-control text-center", value=user.username) }}
                    <hr>
                    <label>Courriel</label>
                    {{ form.email(class_="form-control text-center", value=user.email) }}
                </div>
                <div class="card-footer">{{ _("Prenez garde à choisir une adresse accessible.") }}</div>
            </div>

            <div class="card card-shadow text-center">
                <div class="card-header"><b>{{ _("Changer le mot de passe") }}</b></div>
                <div class="card-body">
                    <label>{{ _("Mot de passe")}}</label>
                    {{ form.password(class_="form-control text-center") }}
                    <hr>
                    <label>{{ _("Vérification du mot de passe")}}</label>
                    {{ form.password2(class_="form-control text-center") }}
                </div>
            </div>

            <div class="card card-shadow text-center">
                <div class="card-header"><b>{{ _("Langues favorites")}}</b></div>
                <div class="card-body">
                    <label>{{ _("Première langue")}}</label>
                    {{ form.lang0(class_="form-control text-center", value=user.lang0) }}
                    <hr>
                    <label>{{ _("Deuxième langue")}}</label>
                    {{ form.lang1(class_="form-control text-center", value=user.lang1) }}
                    <hr>
                    <label>{{ _("Troisième langue")}}</label>
                    {{ form.lang2(class_="form-control text-center", value=user.lang2) }}

                </div>
                <div class="card-footer">{{ _("Laissez vide si vous ne souhaitez pas ajouter de langues favorites.")}}</div>
            </div>

        </div>
    </form>

{% endblock %}