{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}active{% endblock %}
{% block create %}{% endblock %}
{% block statut %}{% endblock %}

{% block body %}
    <h1 class="text-light"><i class="fas fa-users-cog"></i> {{ _("Administration des utilisateurs") }}</h1>
    <div class="card overflow" style="height: 83vh; overflow-x: scroll;">
        <table class="table table-hover table-light">
            <thead>
            <th scope="col" class="bg-light"><i class="fas fa-hashtag"></i></th>
            <th scope="col" class="bg-light">ID</th>
            <th scope="col" class="bg-light">Username</th>
            <th scope="col" class="bg-light">E-Mail</th>
            <th scope="col" class="bg-light">Role</th>
            <th scope="col" class="bg-light"></th>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.role }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#password-{{ u.id }}">
                            <i class="fas fa-key"></i>
                        </button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#role-{{ u.id }}">
                            <i class="fas fa-user-tag"></i>
                        </button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#delete-{{ u.id }}">
                            <i class="fas fa-user-slash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% for u in users %}
        <!-- Reset Password Modal -->
        <div class="modal fade" id="password-{{ u.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-key"></i> Reset Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if u.role == "admin" %}
                            <div class="alert alert-danger" role="alert">
                                <span>WARNING: This user is an administrator.</span>
                            </div>
                        {% endif %}
                        <p>Do you really want to reset <b>{{ u.username }}</b>'s password?</p>
                        <label>New password will be:</label>
                        <input class="form-control" id="newPassword-{{ u.id }}" type="text" value="{{ password() }}">
                        <p>You can contact {{ u.username }} at <b>{{ u.email }}</b>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" value="{{ u.id }}" onclick="resetPassword(this)">Reset password</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Manage Role Modal -->
        <div class="modal fade" id="role-{{ u.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-user-tag"></i> Manage Role</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% if u.role == "admin" %}
                        <div class="modal-body">
                            <div class="alert alert-danger" role="alert">
                                <span>WARNING: This user is an administrator.</span>
                            </div>
                            <p>Do you really want to remove <b>{{ u.username }}</b> from administrators list?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" value="{{ u.id }}" onclick="removeAdmin(this)">Remove Administrator</button>
                        </div>
                    {% else %}
                        <div class="modal-body">
                            <p>Do you really want to make <b>{{ u.username }}</b> an administrator?</p>
                            <p>Pay attention, {{ u.username }} will be able to kick you from administraors list.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" value="{{ u.id }}" onclick="makeAdmin(this)">Make Administrator</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Delete User Modal -->
        <div class="modal fade" id="delete-{{ u.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-user-slash"></i> Delete User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if u.role == "admin" %}
                            <div class="alert alert-danger" role="alert">
                                <span>WARNING: This user is an administrator.</span>
                            </div>
                        {% endif %}
                        <p>Do you really want to delete <b>{{ u.username }}</b>'s account?</p>
                        <p>This action will delete all documents, medias and personnal informations linked to the account.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" value="{{ u.id }}" onclick="deleteAccount(this)">Delete user</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}