{% extends "structure.html" %}

{% block title %}{% endblock %}

{% block bttnFile %}active{% endblock %}
{% block save %}active{% endblock %}
{% block saveSettings %}active{% endblock %}
{% block bttnInsert %}active{% endblock %}
{% block export %}active{% endblock %}
{% block upload %}{% endblock %}
{% block create %}{% endblock %}
{% block explorer %} active {% endblock %}
{% block statut %}
    <div class="spinner-border spinner-border-sm" role="status"></div> {{ _("Chargement en cours") }}{% endblock %}

{% block explorerHref %}{{ url_for("explore", directory=directory) }}{% endblock %}


{% block body %}
    <textarea id="file" style="display:none;"></textarea>
    <div class="row">
        <div class="col-sm-6">
            <div class="card h-100 editer">
                <div class="card-header" style="padding: 0.70vh">
                    <div class="form-group" style="margin: 0">
                        <select id="selectLang" name="selectLang" class="form-control">
                            <option class="lang0" value="" selected>{{ _("Chargement...") }}</option>
                            <option class="lang1" value="">{{ _("Chargement...") }}</option>
                            <option class="lang2" value="">{{ _("Chargement...") }}</option>
                        </select>
                    </div>
                </div>
                <textarea id="content" class="form-control syncScroll" style="border: none" onscroll="syncScroll(this)"
                          onmouseover="scroller(this)" onmouseleave="unscroll(this)"></textarea>
            </div>
        </div>
        <div class="col-sm-6 editer">
            <div class="card reference">
                <div class="card-header">
                    <span style="text-align:left;">
                        <a href="#" id="lang1Name" class="font-weight-bold" onclick="selectLang(this)">
                            <div class="spinner-grow spinner-grow-sm" role="status"></div></a> <i
                            class="fas fa-exchange-alt" style="color: #4c5066"></i> <a href="#" id="lang2Name"
                                                                                       onclick="selectLang(this)"></a>
                        <span style="float:right; color: #4c5066">
                            <i class="fas fa-info-circle"></i><i> {{ _("Choisissez votre langue de référence") }}</i>
                        </span>
                    </span>
                </div>
                <div class="card-body overflow syncScroll" id="scroll2" onscroll="syncScroll(this)"
                     onmouseover="scroller(this)" onmouseleave="unscroll(this)">
                    <div id="langP1"></div>
                    <div id="langP2" style="display: none"></div>
                </div>
            </div>
            <div class="card preview" id="show0">
                <div class="card-header">
                    <span style="text-align:left;">
                        <span id="currentLang"></span>
                        <span style="float:right; color: #4c5066">
                            <i class="fas fa-info-circle"></i><i> {{ _("Prévisulatisation de vos modifications") }}</i>
                        </span>
                    </span>
                </div>
                <div class="card-body overflow syncScroll" id="scroll1" onscroll="syncScroll(this)"
                     onmouseover="scroller(this)" onmouseleave="unscroll(this)">
                    <textarea id="lang0" style="display:none;"></textarea>
                    <div id="currentText"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block help %}
    {{ _("
Pour commencer à éditer votre document, sélectionnez la langue dans laquelle vous souhaitez ajouter du contenu.

Lorsque vous avez terminé vos modifications, ou lorsque vous souhaitez changer de langues, cliquez sur _Sauvegarder_ afin de conserver vos modifications.

Un code couleur indique les différences entre la langue en cours d'édition et les autres langues

*   noir: votre ligne est plus en avance.
*   vert: cette ligne a été ajoutée
*   jaunes: cette ligne a été modifiée
*   rouge: cette ligne a été supprimée

Lorsque vous avez terminé le travail sur votre document, cliquez sur _Télécharger_ afin de récuperer la nouvelle version de votre document."
) }}
{% endblock %}

{% block file %}
    <form class="form-horizontal">
        <fieldset>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">{{ _("Nom du document") }}</label>
                <div class="col-md-5">
                    <input id="fileName" name="name" type="text" class="form-control input-md fileName"
                           required="" value="">
                </div>
            </div>

            <div class="card border">
                <div class="card-header">{{ _("Langues du document") }}</div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lang0">{{ _("Première langue") }}</label>
                    <div class="col-md-4">
                        <input id="lang0Name" name="newLang" type="text" class="form-control input-md lang0"
                               required="" value="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lang1">{{ _("Deuxième langue") }}</label>
                    <div class="col-md-4">
                        <input id="lang1Name" name="newLang" type="text" class="form-control input-md lang1"
                               required="" value="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lang2">{{ _("Troisième langue") }}</label>
                    <div class="col-md-4">
                        <input id="lang2Name" name="newLang" type="text" class="form-control input-md lang2"
                               required="" value="">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block exp %}
    <h4>{{ _("Export") }}</h4>
    <div class="row">
        <div class="col form-group">
            <label class="control-label" for="output">{{ _("Format d'exportation") }}</label>
            <select id="selectOutput" name="output" class="form-control" onchange="updateButton(this)">
                <option value="docx" selected>Microsoft Word</option>
                <option value="pdf">PDF</option>
                <option value="plain">{{ _("Texte") }}</option>
                <option value="odt">Open Office</option>
                <option value="odt">Libre Office</option>
                <option value="pptx">Microsoft PowerPoint</option>
                <option value="rtf">RTF</option>
                <option value="html">HTML</option>
                <option value="tex">LaTeX</option>
            </select>
        </div>
        <div class="col form-group">
            <label class="control-label" for="output">{{ _("Appliquer un style") }}</label>
            <select id="selectStyle" name="output" class="form-control">
                <option value="none" selected>{{ _("Aucun style") }}</option>

            </select>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-success text-white" id="exportButton"
           onclick="exportDocument()">
            <div id="exportNormal">{{ _("Exporter le document en ") }} <i id="outputSelected">docx</i></div>
            <div class="d-none" id="exportLoading">
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
                {{ _("Chargement...") }}</div>
        </a>
    </div>
    <hr>
    <h4>{{ _("Archive") }}</h4>
    <div class="text-center">
        <a class="btn btn-secondary text-white" onclick="archiveDocument()">
            <div id="archiveNormal">{{ _("Télécharger une archive du document") }}</div>
            <div class="d-none" id="archiveLoading">
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
                {{ _("Chargement...") }}</div>
        </a>
        <label>
            {{ _("Permet d'obtenir une copie du document. Il est ensuite possible d'importer cette copie en vous rendant dans <i>Nouveau document</i>.") }}
        </label>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/mdPreview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/export.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mousetrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shortcuts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editUiManager.js') }}"></script>
{% endblock %}