{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}{% endblock %}
{% block create %}{% endblock %}
{% block statut %}{% endblock %}

{% block title %}{{ _("Exemple - MultivitaMD") }}{% endblock %}

{% block body %}
    <textarea id="file" style="display:none;"></textarea>
    <div class="row">
        <div class="col-sm-6">
            <div class="card h-100 editer">
                <div class="card-header" style="padding: 0.70vh">
                    <div class="form-group" style="margin: 0">
                        <select id="selectLang" name="selectLang" class="form-control forbidden-cursor" disabled>
                            <option class="lang0" value="" selected>Français</option>
                            <option class="lang1" value="">Deutsch</option>
                            <option class="lang2" value="">English</option>
                        </select>
                    </div>
                </div>
                <textarea id="content" class="form-control syncScroll" style="border: none" onscroll="syncScroll(this)"
                          onmouseover="scroller(this)" onmouseleave="unscroll(this)">
# Éducation, formation et jeunesse
## Soutenir une éducation et une formation de qualité et favoriser la cohésion sociale
L’UE soutient les efforts déployés par les États membres pour fournir à leurs citoyens le meilleur niveau d’éducation et de formation. Elle promeut également le multilinguisme en Europe en contribuant à l’enseignement et à l’apprentissage des langues, en encourageant la mobilité des étudiants, des stagiaires, des enseignants et des jeunes, et en facilitant les échanges d’informations et d’expériences.

- [Synthèses de la législation de l'UE sur l'éducation, la formation et la jeunesse](https://eur-lex.europa.eu/summary/chapter/education_training_youth.html?root_default=SUM_1_CODED%3D15&locale=fr)

L’UE définit le cadre permettant aux pays de l’Union d’échanger des bonnes pratiques et d’apprendre les uns des autres, dans le but de:

- améliorer la qualité et l'efficacité de l'__éducation__ et de la __formation__;
- favoriser l'équité, la cohésion sociale et la __citoyenneté _active___;
- encourager la créativité, l'innovation et l'__esprit d'entreprise__.

[Source](https://europa.eu/european-union/topics/education-training-youth_)

![EU](https://europa.eu/european-union/sites/europaeu/themes/europaeu_theme/images/europa-flag.gif)
</textarea>
            </div>
        </div>
        <div class="col-sm-6 editer">
            <div class="card reference">
                <div class="card-header">
                    <span style="text-align:left;">
                        <a href="#" id="lang1Name" class="font-weight-bold forbidden-cursor">Deutsch</a> <i
                            class="fas fa-exchange-alt" style="color: #4c5066"></i> <a class="forbidden-cursor"
                                                                                       href="#">English</a>
                        <span style="float:right; color: #4c5066">
                            <i class="fas fa-info-circle"></i><i> {{ _("Choisissez votre langue de référence") }}</i>
                        </span>
                    </span>
                </div>
                <div class="card-body overflow syncScroll" id="scroll2" onscroll="syncScroll(this)"
                     onmouseover="scroller(this)" onmouseleave="unscroll(this)">
                    <div id="langP1">
                        <h1>Allgemeine und berufliche Bildung und Jugend</h1>
                        <h2>F&ouml;rderung einer hochwertigen allgemeinen und beruflichen Bildung und des sozialen
                            Zusammenhalts</h2>
                        <p class="text-warning">Die EU unterst&uuml;tzt die <i>Mitgliedstaaten</i> bei ihren Bem&uuml;hungen
                            um eine bestm&ouml;gliche
                            Ausbildung ihrer <b>B&uuml;rger/innen</b>. Sie f&ouml;rdert auch die Mehrsprachigkeit in
                            Europa,
                            hilft beim Lehren und Lernen von Sprachen, f&ouml;rdert die Mobilit&auml;t von <b>Studierenden</b>,
                            <b>Praktikanten</b>, <b>Lehrern</b> und <b>jungen Menschen</b> und erleichtert den
                            Informations- und
                            Erfahrungsaustausch.</p>
                        <ul>
                            <li>
                                <a href="https://eur-lex.europa.eu/summary/chapter/education_training_youth.html?root_default=SUM_1_CODED%3D15&locale=de">&Uuml;berblick
                                    &uuml;ber die EU-Rechtsvorschriften in den Bereichen allgemeine und berufliche
                                    Bildung sowie Jugend</a>
                            </li>
                        </ul>
                        <p>Die EU legt den Rahmen fest, innerhalb dessen die EU-L&auml;nder bew&auml;hrte Verfahren
                            austauschen und voneinander lernen k&ouml;nnen, um</p>

                        <ul>
                            <li class="text-success">lebenslanges Lernen und Mobilit&auml;t Wirklichkeit werden zu
                                lassen;
                            </li>
                            <li>die Qualit&auml;t und die Effizienz der allgemeinen und beruflichen Bildung zu erh&ouml;hen;</li>
                            <li>Chancengleichheit, sozialen Zusammenhalt und <b><i>aktiven</i> B&uuml;rgersinn zu f&ouml;rdern</b>;
                            </li>
                            <li>Kreativit&auml;t, Innovation und <b>Unternehmergeist</b> zu f&ouml;rdern.</li>
                        </ul>
                        <a href="https://europa.eu/european-union/topics/education-training-youth">Quelle</a>
                        <p class="text-danger">¶</p>

                    </div>
                </div>
            </div>
            <div class="card preview" id="show0">
                <div class="card-header">
                    <span style="text-align:left;">
                        <span id="currentLang"></span>
                        <span style="float:right; color: #4c5066">
                            <i class="fas fa-info-circle"></i><i> {{ _("Prévisulatisation de vos modifications") }}</i>
                        </span>
                    </span>
                </div>
                <div class="card-body overflow syncScroll" id="scroll1" onscroll="syncScroll(this)"
                     onmouseover="scroller(this)" onmouseleave="unscroll(this)">
                    <textarea id="lang0" style="display:none;"></textarea>
                    <div id="currentText"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block help %}
    {{ _("
Pour commencer à éditer votre document, modifiez son contenu dans l'encart d'édition, vous pouvez contrôler vos modifications dans l'encart de prévisualisation.

Un code couleur indique les différences entre la langue en cours d'édition et les autres langues

*   noir: votre ligne est plus en avance.
*   vert: cette ligne a été ajoutée
*   jaunes: cette ligne a été modifiée
*   rouge: cette ligne a été supprimée

__[Créez votre propre document maintenant !](%(url)s)__
", url = url_for('create')) }}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mdPreview.js') }}"></script>
{% endblock %}