{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}active{% endblock %}
{% block create %}{% endblock %}
{% block statut %}{% endblock %}

{% block title %}
    {% if type == "private" %}
        {{ _("Mes documents") }}
    {% else %}
        {{ _("Documents partagés avec moi") }}
    {% endif %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if  type == "private" %} active {% endif %}">
                <a href="{{ url_for('documents', type="private") }}"
                   class="nav-link ">
                    <i class="fas fa-folder-open"></i> {{ _("Mes documents") }}
                </a></li>
            <li class="nav-item {% if  type == "shared" %} active {% endif %}">
                <a href="{{ url_for('documents', type="shared") }}"
                   class="nav-link">
                    <i class="fas fa-users"></i> {{ _("Documents partagés avec moi") }}
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="form-group">
                <label class="control-label text-white" for="order" style="padding-right: 5px"> {{ _("Trier par") }} </label>
                <div>
                    <select id="order" name="order" class="form-control" onchange="orderFiles(this)">
                        <option value="recent" {% if order == "recent" %}
                                selected {% endif %}>{{ _("Le plus récent en premier") }}
                        </option>
                        <option value="recent-1" {% if order == "recent-1" %}
                                selected {% endif %}>{{ _("Le plus vieux en premier") }}
                        </option>
                        <option value="alpha" {% if order == "alpha" %}
                                selected {% endif %}>{{ _("Ordre alphabétique") }}</option>
                        <option value="alpha-1" {% if order == "alpha-1" %}
                                selected {% endif %}>{{ _("Ordre anti-alphabétique") }}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </nav>


    {% if file|length > 0 %}
        <div class="row row-cols-1 row-cols-md-4 overflow files">
            {% for f in file %}
                {% set fileInfos = f|fileInfos %}
                {% set v = None %}
                {% if version != [] %}
                    {% set v = version[(loop.index)-1] %}
                {% endif %}

                {% set errorHead = [] %}
                {% if fileInfos[3] == "MvMd:err-missing-directory" %}
                    {% if errorHead.append(fileInfos[3]) %}{% endif %}
                {% endif %}
                {% set v = None %}
                {% if version != [] %}
                    {% set v = version[(loop.index)-1] %}
                {% endif %}
                {% if v == None %}
                    {% if errorHead.append("MvMd:err-missing-versions") %}{% endif %}
                {% endif %}
                <div class="col mb-4">
                    <div class="card card-shadow" style="margin: 0">
                        {% if errorHead|length > 0 %}
                            <div class="card-header text-justify">
                                {% for err in errorHead %}
                                    <div><i class="fas fa-exclamation-circle text-warning"></i> {{ err|formError }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <a href="{{ url_for('editer', directory=f.directory) }}" class="text-dark">
                            <div class="card-body" style="padding: 0 !important;">
                                <div class="text-center">
                                    {% if errorHead|length > 0 %}
                                        <i class="fas fa-file-medical-alt"
                                           style="font-size: 15vh; padding: 3vh; display: block"></i>
                                    {% else %}
                                        <i class="fas fa-file-alt"
                                           style="font-size: 15vh; padding: 3vh; display: block"></i>
                                        <span class="card-text">{{ fileInfos[0] }}</span>
                                    {% endif %}
                                    <hr>
                                    <span class="text-secondary">{{ _("Plus d'informations") }}</span>
                                </div>


                                <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-details-tab-{{ f.id }}" data-toggle="pill"
                                           href="#pills-details-{{ f.id }}"
                                           role="tab" aria-controls="pills-details-{{ f.id }}"
                                           aria-selected="false">{{ _("Détails") }}</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-activity-tab-{{ f.id }}" data-toggle="pill"
                                           href="#pills-activity-{{ f.id }}"
                                           role="tab" aria-controls="pills-activity-{{ f.id }}"
                                           aria-selected="false">{{ _("Activité") }}</a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="pills-close-tab-{{ f.id }}" data-toggle="pill"
                                           href="#pills-close-{{ f.id }}"
                                           role="tab" aria-controls="pills-close-{{ f.id }}"
                                           aria-selected="false"><i
                                                class="fas fa-times"></i></a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tabContent-{{ f.id }}">
                                    <div class="tab-pane fade show active" id="pills-close-{{ f.id }}"
                                         role="tabpanel"
                                         aria-labelledby="pills-close-tab-{{ f.id }}">
                                    </div>
                                    <div class="tab-pane fade" id="pills-details-{{ f.id }}" role="tabpanel"
                                         aria-labelledby="pills-details-tab-{{ f.id }}" style="padding: 2vh">
                                        <p class="card-text">{{ _("Informations relatives au document.") }}</p>
                                        <table class="table">
                                            <tbody>
                                            {% if v != None %}
                                                <tr>
                                                    <td><h5><i class="fas fa-language"></i></h5></td>
                                                    <td>{{ fileInfos[1] }}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>{{ fileInfos[2] }}</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>{{ fileInfos[3] }}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td><h5><i class="fas fa-language"></i></h5></td>
                                                    <td><span class="text-danger">{{ _("Indisponible") }}</span></td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <td><i class="fas fa-address-card"></i></td>
                                                <td>{{ f.idU|idToUsername }}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fas fa-calendar-plus"></i></td>
                                                <td>{{ f.create|formTime }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="pills-activity-{{ f.id }}" role="tabpanel"
                                         aria-labelledby="pills-activity-tab-{{ f.id }}" style="padding: 2vh">
                                        {% if v != None %}

                                            <p class="card-text">
                                                {{ _("Récapitulatif des modifications apportées dans la dernière version du document.") }}
                                            </p>
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td><i class="fas fa-hashtag"></i></td>
                                                    <td>{{ _("version n°") }} {{ v.version }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="card-text"><i class="fas fa-user-edit"></i></td>
                                                    <td>{{ v.idU|idToUsername }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="card-text"><i class="fas fa-pen"></i></td>
                                                    <td>{{ v|deltaInterprter }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="card-text"><i class="fas fa-clock"></i>
                                                    </td>
                                                    <td>{{ v.create|formTime }}</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <hr>
                                            <a href="{{ url_for('explore', directory=f.directory) }}"
                                               class="form-control btn btn-success"><i class="fas fa-history"></i>
                                                {{ _("Historique des versions") }}</a>

                                        {% else %}
                                            <p class="card-text text-center text-danger">{{ _("Indisponible") }}.</p>
                                        {% endif %}

                                    </div>
                                </div>
                                {% if errorHead|length > 0 %}
                                    <div class="alert alert-danger">
                                        <p>File id: {{ f.id }}</p>
                                        <p>Directory: {{ f.directory }}</p>
                                        <p>Creator: {{ f.idU|idToUsername }}</p>
                                        <p>Creation: {{ f.create|formTime }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-footer">
                            {% if type=="private" %}

                                <p><a href="#" data-toggle="modal" data-target="#share-modal-{{ f.directory }}"><i
                                        class="fas fa-share-square"></i> {{ _("Partager") }}</a></p>
                                <p><a href="#" class="text-danger" data-toggle="modal"
                                      data-target="#delete-modal-{{ f.directory }}"><i
                                        class="fas fa-trash"></i> {{ _("Supprimer") }}</a></p>
                            {% else %}
                                <p><a href="#" class="text-warning" data-toggle="modal"
                                      data-target="#hide-modal-{{ f.directory }}"><i class="fas fa-eye-slash"></i>
                                    {{ _("Retirer de l'affichage") }}
                                </a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for f in file %}
            {% set fileInfos = f|fileInfos %}
            {% if type=="private" %}
                <div id="share-modal-{{ f.directory }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="fas fa-share-square"></i> Partager</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <span id="shared-result-{{ f.id }}"></span>
                                <p>
                                    {{ _("Indiquez le nom d'utilisateur de la personne avec qui partager %(file)s", file=fileInfos[0]) }}
                                </p>
                                <input type="text" id="shareInput-{{ f.id }}">
                                {% set users = f.id|sharedWith %}
                                {% if users|length > 0 %}
                                    <hr>
                                    <p>{{ _("Ce document est partagé avec:") }}</p>
                                    <table class='table'>
                                        {% for row in users %}
                                            <tr>
                                                <th scope='row'>{{ loop.index }}</th>
                                                <td>{{ row.idU|idToUsername }}</td>
                                                <td><a href="#" id="unshareWith-{{ row.idU }}-{{ f.id }}"
                                                       onclick="unshareFileWith(this)"><i
                                                        class='fas fa-times text-danger'></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <i><i class="fas fa-info-circle"></i> {{ _("Cette liste n'est actualisée qu'avec la page.") }}
                                    </i>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light"
                                        data-dismiss="modal">{{ _("Annuler") }}</button>
                                <button type="button" class="btn btn-success" id="shareBttn-{{ f.id }}"
                                        value="{{ f.directory }}" onclick="shareFile(this)">{{ _("Partager") }}
                                </button>
                                <button type="button" class="btn btn-warning" id="unshareBttn-{{ f.id }}"
                                        onclick="unshareFile(this)">
                                    <i class="fas fa-hand-paper"></i> {{ _("Arrêter le partage") }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="delete-modal-{{ f.directory }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i class="fas fa-trash"></i> {{ _("Suppression") }}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{ _("Voulez vous vraiment supprimer %(file)s ?", file=fileInfos[0]) }} </p>
                                <p>{{ _("Cette action est définitive.") }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">
                                    {{ _("Annuler") }}
                                </button>
                                <button type="button" value="{{ f.directory }}" class="btn btn-danger"
                                        onclick="deleteFile(this)">{{ _("Supprimer") }}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            {% else %}
                <div id="hide-modal-{{ f.directory }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"><i
                                        class="fas fa-eye-slash"></i> {{ _("Retirer de l'affichage") }}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    {{ _("Voulez vous vraiment retirer %(file)s de votre affichage ?", file=fileInfos[0]) }}
                                </p>
                                <p>
                                    {{ _("Cette action est définitive. Pour à nouveau pouvoir consulter %(file)s vous devrez demander à sa.on propriétaire de vous le partager.", file=fileInfos[0]) }}
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">
                                    Annuler
                                </button>
                                <button type="button" value="{{ f.id }}" class="btn btn-warning"
                                        onclick="hideFile(this)">{{ _("Retirer de l'affichage")}}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}
        {% endfor %}


    {% else %}
        <div class="row row-cols-1 row-cols-md-4 overflow files text-center">
            <div class="col mb-4">
                <div class="card card-shadow" style="margin: 0vh">
                    {% if type == "private" %}
                        <a href="{{ url_for('create') }}" class="text-dark">
                            <div class="card-header"><b>{{ _("Créer un document")}}</b></div>
                            <div class="card-body">
                                <p>{{ _("Créez votre premier document, vous pourrez ensuite le partager.")}}</p>
                                <i class="fas fa-plus-circle" style="font-size: 10vh; padding: 3vh"></i>
                            </div>
                        </a>
                    {% else %}
                        <div class="card-header"><b>{{ _("Aucun document partagé")}}</b></div>
                        <div class="card-body">
                            <p>{{ _("Demandez à vos collègues, ami.es, voisin.es de partager un document avec vous.")}}</p>
                            <p>{{ _("Il apparaîtra ici.")}}</p>
                            <p>{{ _("N'hésitez pas non plus à partager des documents !")}}</p>
                            <i class="fas fa-user-friends" style="font-size: 10vh; padding: 3vh"></i>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/filesTools.js') }}"></script>
{% endblock %}