{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}active{% endblock %}
{% block create %}active{% endblock %}
{% block statut %}{% endblock %}

{% block body %}
    <div class="overflow height-navbar">
        <h1 class="text-light text-center" style="font-size: 18vh; font-family: 'Courier New'">MultivitaMD</h1>
        <h1 class="text-light text-center">{{ _("Bienvenue.") }}</h1>

        <div class="row" style="padding: 10vh">
            <div class="col">
                <div class="card card-shadow">
                    <div class="card-body text-center">
                        <p><i class="fas fa-globe-europe" style="font-size: 20vh"></i></p>
                        <p>{{ _("Créez des documents multilingues, jusqu'à trois langues.") }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-shadow text-center">
                    <div class="card-body">
                        <p><i class="fas fa-share-square" style="font-size: 20vh"></i></p>
                        <p>{{ _("Partagez vos documents auprès de vos collaborateurs et éditez-les en même temps.") }}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-shadow text-center">
                    <div class="card-body">
                        <p><i class="fas fa-cloud-download-alt" style="font-size: 20vh"></i></p>
                        <p>{{ _("Téléchargez vos documents dans le format de votre choix en personnalisant leur style.") }}</p>
                    </div>
                </div>
            </div>
        </div>

        {% if current_user.is_anonymous %}
            <h4 class="text-light text-center">{{ _("Connectez vous.") }}</h4>
            <form style="padding: 2vh 10vh 8vh 10vh">
                <div class="row">
                    <div class="col">
                        <a href="{{ url_for('register') }}"
                           class="btn btn-success btn-block">{{ _("Créer un compte") }}</a>
                    </div>
                    <div class="col">
                        <a href="{{ url_for('login') }}" class="btn btn-secondary btn-block">{{ _("Se connecter") }}</a>
                    </div>
                </div>
            </form>
        {% else %}
            <h4 class="text-light text-center">{{ _("Bienvenue %(usr)s. Vous êtes bien connecté.e.", usr=current_user.username) }}</h4>
            <hr>
        {% endif %}

        <h4 class="text-light text-center">{{ _("Apprenez-en plus.") }}</h4>
        <div class="row" style="padding: 2vh 10vh 5vh 10vh">
            <div class="col">
                <a href="{{ url_for("example") }}">
                    <div class="card card-shadow">
                        <div class="card-body text-center">
                            <p><i class="fas fa-edit" style="font-size: 20vh"></i></p>
                            <p>{{ _("Découvrez notre éditeur et ses fonctionnalitées.") }}</p>
                            <p>{{ _("Essayez vous même d'utiliser Markdown, le langage exploité par MultivaMD.") }}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{{ _("https://fr.wikipedia.org/wiki/Markdown#Formatage") }}">
                    <div class="card card-shadow text-center">
                        <div class="card-body">
                            <p><i class="fab fa-markdown" style="font-size: 20vh"></i></p>
                            <p>{{ _("Découvrez Markdown, le langage utilisée pour rendre vos documents vivants.") }}</p>
                            <p>{{ _("Ne vous inquiétez pas, cette syntaxe est simple à prendre en mains") }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <h4 class="text-center"><a class="text-light" href="{{ url_for("about") }}">{{ _("À propos.") }}</a></h4>
    </div>
{% endblock %}

{% block help %}
    {{ _("
## Bienvenue dans MultivitaMD.
L'objectif de ce site est de vous accompagner pour la création, l'édition et le partage de documents multilingues.
") }}
{% endblock %}