{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}disabled{% endblock %}
{% block create %}disabled{% endblock %}
{% block statut %}{% endblock %}

{% block title %}{{ _("Se connecter")}}{% endblock %}

{% block body %}
    <div class="overflow height-navbar">
        <div class="card card-shadow col-md-3 w-50 mx-auto text-center log">
            <p><img src="{{ url_for('static', filename='img/icon.png') }}" alt="MvMd" width="60" height="60"></p>
            <h1>{{ _('Connectez vous')}}</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>{{ _("Identifiant") }}</label>
                    {{ form.username(class_="form-control btn-block") }}
                    {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>{{ _("Mot de passe")}}</label>
                    {{ form.password(class_="form-control btn-block") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="pretty p-icon p-round p-tada">
                        {{ form.remember_me(class_="form-check-input") }}
                        <div class="state p-danger-o">
                            <i class="icon fa fa-lock"></i>
                            <label>{{ _("Rester connecté")}}</label>
                        </div>
                    </div>
                </div>
                <p>{{ form.submit(class_="btn btn-success btn-block") }}</p>
            </form>
            <hr>
            <a href="{{ url_for("register") }}" class="btn btn-block btn-dark">{{ _("Créer un compte")}}</a>
        <hr>
        <span>{{ _("Problème de connexion?<br>Envoyez un mail à:") }}</span>
        <a HREF="mailto:yannick.parmentier@univ-lorraine.fr">yannick.parmentier@univ-lorraine.fr</a>
        </div>
    </div>
{% endblock %}

{% block help %}
    <p>Renseignez votre identifiant et votre mot de passe pour vous connecter.</p>
    <p>Vous serez déconnecté.e automatiquement lorsque vous quitterez votre naviguateur. Pour évitez cela, cliquez sur
        <i>Rester connecté</i>.</p>
    <p>Vous avez oublié.e votre identifiant et/ou votre mot de passe ? Rendez vous ici: <a href="#">identifiant ou mot
        de passe oublié</a></p>
{% endblock %}
