{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}{% endblock %}
{% block medias %}active{% endblock %}
{% block create %}{% endblock %}
{% block statut %}{% endblock %}

{% block title %}
    {% if type == "private" %}
        {{ _("Mes images") }}
    {% else %}
        {{ _("Images publiques") }}
    {% endif %}
{% endblock %}

{% block body %}


    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if  type == "private" %} active {% endif %}">
                <a href="{{ url_for('medias', type="private") }}"
                   class="nav-link ">
                    <i class="far fa-images"></i> {{ _("Mes images") }}
                </a></li>
            <li class="nav-item {% if  type == "public" %} active {% endif %}">
                <a href="{{ url_for('medias', type="public") }}"
                   class="nav-link">
                    <i class="fas fa-users"></i> {{ _("Images publiques") }}
                </a>
            </li>
        </ul>
        <form class="form-inline">
            <div class="form-group">
                <label class="control-label text-white" for="order"
                       style="padding-right: 5px">{{ _("Trier par") }} </label>
                <div>
                    <select id="order" name="order" class="form-control" onchange="orderFiles(this)">
                        <option value="recent" {% if order == "recent" %}
                                selected {% endif %}>{{ _("Le plus récent en premier") }}
                        </option>
                        <option value="recent-1" {% if order == "recent-1" %}
                                selected {% endif %}>{{ _("Le plus vieux en premier") }}
                        </option>
                        <option value="alpha" {% if order == "alpha" %}
                                selected {% endif %}>{{ _("Ordre alphabétique") }}</option>
                        <option value="alpha-1" {% if order == "alpha-1" %}
                                selected {% endif %}>{{ _("Ordre anti-alphabétique") }}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </nav>
    <div class="overflow files">
        <!--Images to display-->
        {% if medias|length() > 0 %}
            <div class="text-center">
                {% for m in medias %}
                    <!--Image link for md-->
                    <input class="hide" type="text" value="![{{ m.name }}]({{ m.path }})" id="copy-{{ m.id }}">

                    <!--Image card-->
                    <div class="card card-shadow" style="width: 20%; display: inline-block; margin: 5px">
                        <div id="{{ m.id }}" onclick="copyToClipboard(this)">
                            <img src="{{ m.path }}" style="height: 130px; max-width: 100%"
                                 alt="{{ _("Image perdue") }}">
                            <p class="font-weight-bold">{{ m.name }}</p>
                        </div>
                        <div class="card-footer text-left">
                        <span style="text-align:left;">
                            <a class="pointer-cursor" id="{{ m.id }}" onclick="copyToClipboard(this)"><i
                                    class="far fa-copy"></i> <span class="d-none d-lg-inline">{{ _("Copier") }}</span></a>
                            <span style="float:right; color: #4c5066">
                                <a href="{{ m.path }}" class="text-dark" target="_blank"><i
                                        class="fas fa-expand-alt"></i> <span class="d-none d-lg-inline">{{ _("Agrandir") }} </span></a>
                            </a>
                        </span>
                        <hr>
                            <p>
                                {% if type=="private" %}
                                    <div class="pretty p-switch p-fill p-pulse">
                                        <input type="checkbox" id="Public-{{ m.id }}" value="{{ m.id }}"
                                               {% if m.public==True %}checked{% endif %} onclick="public(this)">
                                        <div class="state p-success">
                                            <label>{{ _("Public") }}</label>
                                        </div>
                                    </div>
                                    <p><a class="text-danger pointer-cursor" data-toggle="modal"
                                          data-target="#delete-{{ m.id }}">
                                    <i class="fas fa-trash"></i> {{ _("Supprimer") }}
                                </a>
                                {% else %}
                                    <i class="fas fa-user"></i> {{ m.idU|idToUsername }}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <!--Delete modal-->
                    <div id="delete-{{ m.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog text-left">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><i class="fas fa-trash"></i> {{ _("Suppression") }}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ _("Voulez vous vraiment supprimer %(file)s ?", file=m.name) }} </p>
                                    <p>{{ _("Cette action est définitive.") }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">
                                        {{ _("Annuler") }}
                                    </button>
                                    <button type="button" value="{{ m.id }}" class="btn btn-danger"
                                            onclick="deleteMedia(this)">{{ _("Supprimer") }}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

            <!--No images to display-->
        {% else %}
            <div class="text-center text-light">
                <span style="font-size: 20vh"><i class="fas fa-exclamation-triangle"></i></span>
                <h3>{{ _("Aucun média trouvé.") }}</h3>
            </div>
        {% endif %}

        <!--Button add image-->
        <div class="text-center" style="padding: 7vh">
            <a class="btn btn-secondary btn-lg pointer-cursor text-light" data-toggle="modal" data-target="#addModal">
                <i class="fas fa-plus-square"></i> | {{ _("Ajouter une image") }}
            </a>
        </div>
    </div>

    <!--Modal & Form add image-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="Help"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="far fa-image"></i> {{ _("Médias - Ajouter une image") }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert">
                        <i class="fas fa-exclamation-triangle"></i>
                        {{ _("Toute personne ayant le lien de votre image pourra y accéder.") }}
                    </div>
                    <div class="card">
                        <div class="card-header">{{ _("Source") }}</div>
                        <div class="card-body">
                            <div id="feedback"></div>
                            <h5>Avec un lien</h5>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ _('Lien de l\'image') }}"
                                       id="Link" name="Link" onchange="checkSource(this)">
                            </div>
                            <hr>
                            <h5>Depuis votre ordinateur</h5>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="File" name="File" accept="image/*"
                                       onchange="checkSource(this)">
                                <label class="custom-file-label" for="File" style="overflow: hidden">
                                    {{ _('Sélectionnez une image sur votre ordinateur') }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <br>

                    <h5>{{ _("Nom de l'image") }}</h5>
                    <div class="form-group">
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="" required>
                    </div>

                    <h5>{{ _("Option de disponibilité") }}</h5>
                    <div class="form-group">
                        <div class="pretty p-switch p-fill p-pulse">
                            <input type="checkbox" id="Public" checked>
                            <div class="state p-success">
                                <label>{{ _("Partager en public") }}</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" id="submitAddMedia" class="btn btn-success" onclick="addImage()">{{ _('Ajouter') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/filesTools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/medias.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <!--Script used by custom file browser to display selcted file name-->
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

{% endblock %}