{% extends "structure.html" %}

{% block title %}{{ _("Nouveau document") }}{% endblock %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block upload %}{% endblock %}
{% block create %}active{% endblock %}
{% block statut %}{% endblock %}

{% block body %}
    <div class="overflow height-navbar text-light" style="padding: 5vh">
        <form action="" method="post" enctype="multipart/form-data">
            <h3>{{ _("Nouveau document") }}</h3>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-6 control-label" for="name">{{ _("Nom du document") }}</label>
                <div class="col-md-6">
                    {{ form.fileName(class_="form-control input-md") }}
                </div>
            </div>

            <div class="card border text-dark">
                <div class="card-header">{{ _("Langues du document") }}</div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-6 control-label" for="lang0">{{ _("Première langue") }}</label>
                    <div class="col-md-6">
                        {{ form.lang0(class_="form-control input-md", value=user.lang0) }}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-6 control-label" for="lang1">{{ _("Deuxième langue") }}</label>
                    <div class="col-md-6">
                        {{ form.lang1(class_="form-control input-md", value=user.lang1) }}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-6 control-label" for="lang2">{{ _("Troisième langue") }}</label>
                    <div class="col-md-6">
                        {{ form.lang2(class_="form-control input-md", value=user.lang2) }}
                    </div>
                </div>
            </div>
            <div class="text-right" style="padding-top: 10px;">
                {{ form.submitNew(class_="btn btn-success") }}
            </div>
        </form>
        <hr>
        <form action="" method="post" enctype="multipart/form-data">
            <h3>{{ _("Depuis une archive") }}</h3>
            <div class="custom-file">
                {{ imp.source(class_="custom-file-input", id="customFile", accept=".zip", enctype="multipart/form-data") }}
                <label class="custom-file-label" for="customFile">{{ _("Importer une archive (.zip)") }}</label>
            </div>
            <div class="text-right" style="padding-top: 10px;">
                {{ imp.submitImp(class_="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock %}

{% block help %}
    {{ _("
Créez un document en renseignant:

*   Un nom
*   Trois langues

Notez qu'il sera possible d'éditer ces informations a posteriori.") }}
{% endblock %}

{% block scripts %}
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}