{% extends "structure.html" %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}disabled{% endblock %}
{% block create %}disabled{% endblock %}
{% block statut %}{% endblock %}

{% block title %}{{ _("Créer un compte") }}{% endblock %}

{% block body %}
    <div class="overflow height-navbar">
        <div class="card card-shadow col-md-3 w-50 mx-auto text-center log">
            <p><img src="{{ url_for('static', filename='img/icon.png') }}" alt="MvMd" width="60" height="60"></p>
            <h1>Créer un compte</h1>
            <form action="" method="post">

                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>{{ _("Identifiant") }}</label>
                    {{ form.username(class_="form-control btn-block") }}
                </div>
                <div class="form-group">
                    <label>{{ _("Courriel") }}</label>
                    {{ form.email(class_="form-control btn-block") }}
                </div>
                <div class="form-group">
                    <label>{{ _("Mot de passe") }}</label>
                    {{ form.password(class_="form-control btn-block") }}
                </div>
                <div class="form-group">
                    <label>{{ _("Vérification du mot de passe") }}</label>
                    {{ form.password2(class_="form-control btn-block") }}
                </div>
                <hr>
                <p>{{ form.submit(class_="btn btn-success btn-block") }}</p>
            </form>
        </div>
    </div>

{% endblock %}

{% block help %}
    <p>Pour créer un compte, vous devez choisir un identifiant, un e-mail et un mot de passe.</p>
    <p>Votre identifaint sera visible par d'autres utilisateurs. Choisissez des termes non choquants et vous
        représentants. Exemple: Françoise Durand.</p>
    <p>Votre identifant et votre mot de passe seront nécessaires pour vous connecter. Souvenez-vous en, mais ne notez et
        ne divulgez jamais votre mot de passe.</p>
    <p>Nous vous recommandons de choisir un mot de passe aléatoire, contenant des chiffres, des lettres minuscules, des
        lettres majuscules et des caractères spéciaux. Nous vous reommandons aussi de choisir un mot de passe différent
        d'autres sites web.</p>
    <p>Votre courriel sera utilisé pour gérer votre compte. Assurez vous de choisir une adresse mail accessible, puisque
        c'est par ce biais que vous pourrez récupérer votre mot de passe et votre identifiant en cas d'oublis.</p>
    <hr>
    <p>Toutes ces informations pourront être modifiées ultérieurement.</p>
{% endblock %}