<!DOCTYPE html>
<html lang="fr">
<head>
    <title>
        {% block title %}MultivitaMD{% endblock %}
    </title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
    {% block header %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body id="body">

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="MvMd" width="30" height="30">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link pointer-cursor {% block bttnFile %}{% endblock %}" data-toggle="modal"
                       data-target="#fileModal">
                        <i class="fas fa-file"></i> {{ _("Document") }}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <div class="btn-group">
                        <span class="nav-link pointer-cursor {% block save %}{% endblock %}" id="save"
                              style="padding-right: 5px"><i class="fas fa-save"></i> {{ _("Sauvegarder") }}</span>
                        <a class="nav-link dropdown-toggle {% block saveSettings %}{% endblock %}" href=""
                           id="saveSettings"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-left: 0">
                        </a>
                        <div class="dropdown-menu " aria-labelledby="save" style="min-width: 300px;">
                            <div style="padding: 1vh">
                                <div class="pretty p-switch p-fill p-pulse">
                                    <input type="checkbox" id="autoSave" checked>
                                    <div class="state p-success">
                                        <label>{{ _("Sauvegarde automatique") }}</label>
                                    </div>
                                </div>
                                <hr>
                                <div class="pretty p-switch p-fill p-pulse">
                                    <input type="checkbox" id="sameLevelTitle" checked>
                                    <div class="state p-success">
                                        <label>{{ _("Concordance du niveau des titres") }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% block bttnInsert %}{% endblock %}" id="medias"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-images"></i> {{ _("Insérer") }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="medias">
                        <a class="pointer-cursor dropdown-item"
                           onclick="window.open('https://www.tablesgenerator.com/markdown_tables','medias','width=750,height=700')">
                            <i class="fas fa-table"></i> {{ _("Tableaux") }}
                        </a>
                        <a class="pointer-cursor dropdown-item"
                           onclick="window.open('{{ url_for("medias", type="private") }}','medias','width=750,height=700')">
                            <i class="far fa-images"></i> {{ _("Images") }}
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer-cursor {% block export %}{% endblock %}" data-toggle="modal"
                       data-target="#exportModal">
                        <i class="fas fa-file-download"></i> {{ _("Exporter") }}
                    </a>
                </li>
                <li class="nav-item dropdown {% block files %}{% endblock %}">
                    <a class="nav-link dropdown-toggle" id="fichiers" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-th"></i> {{ _("Fichiers") }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="fichiers">
                        <h6 class="dropdown-header">{{ _("Documents") }}</h6>
                        <a class="dropdown-item" href="{{ url_for('documents', type="private") }}">
                            <i class="fas fa-folder-open"></i> {{ _("Mes documents") }}</a>
                        <a class="dropdown-item" href="{{ url_for('documents', type="shared") }}">
                            <i class="fas fa-users"></i> {{ _("Documents partagés avec moi") }}</a>
                        <h6 class="dropdown-header">{{ _("Médias") }}</h6>
                        <a class="pointer-cursor dropdown-item" href=" {{ url_for("medias", type="private") }}">
                            <i class="far fa-images"></i> {{ _("Mes images") }}
                        </a>
                        <a class="pointer-cursor dropdown-item" href=" {{ url_for("medias", type="public") }}">
                            <i class="fas fa-users"></i> {{ _("Images publiques") }}
                        </a>

                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% block create %}{% endblock %}" href="{{ url_for('create') }}"><i
                            class="fas fa-plus-square"></i> {{ _("Nouveau document") }}</a>
                </li>
            </ul>
            <ul class="navbar-nav d-inline">
                <li class="nav-item d-sm-none d-lg-inline">
                    <span class="nav-link text-muted d-md-inline d-sm-inline d-xs-inline"
                          id="statut">{% block statut %}  {% endblock %}</span>
                </li>
                <li class="nav-item d-md-inline d-sm-inline d-xs-inline">
                    <a id="explore-link"
                       class="nav-link pointer-cursor d-md-inline d-sm-inline d-xs-inline {% block explorer %}disabled{% endblock %}"
                       href="{% block explorerHref %}#{% endblock %}">
                        <i class="fas fa-history"></i>
                    </a>
                </li>
                <li class="nav-item d-md-inline d-sm-inline d-xs-inline d-lg-none">
                    <div class="nav-item d-md-inline d-sm-inline d-xs-inline d-lg-none"> |</div>
                </li>
                <li class="nav-item d-md-inline d-sm-inline d-xs-inline">
                    <a class="nav-link pointer-cursor d-md-inline d-sm-inline d-xs-inline
                            {% block bttnHelp %}{% endblock %}"
                       data-toggle="modal"
                       data-target="#helpModal">
                        <i class="fas fa-question-circle"></i>
                    </a>
                </li>
                <li class="nav-item d-md-inline d-sm-inline d-xs-inline d-lg-none">
                    <div class="nav-item d-md-inline d-sm-inline d-xs-inline d-lg-none"> |</div>
                </li>
                <li class="nav-item d-md-inline d-sm-inline d-xs-inline">
                    <a class="nav-link pointer-cursor d-md-inline d-sm-inline d-xs-inline active" data-toggle="modal"
                       data-target="#settingsModal">
                        <i class="fas fa-sliders-h"></i>
                    </a>
                </li>

            </ul>
        </div>
    </nav>

{% endblock %}

{% block body %}
{% endblock %}

{% block flash %}

    <!-- Position it -->
    <div style="position: absolute; top: 60px; right: 5px; width: 300px" id="toastHere">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="toast" data-delay="30000" data-animation="true" role="alert" aria-live="assertive"
                         aria-atomic="true">
                        <div class="toast-header">
                            <strong class="mr-auto"><img src="{{ url_for('static', filename='img/icon.png') }}"
                                                         alt="MvMd"
                                                         width="20" height="20">
                                MultivitaMD</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}


<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="Help"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-question-circle"></i> {{ _("Aide") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body markdown">
                {% block help %}
                    {{ _("
__Pas d'aide particulière.__") }}
                {% endblock %}
            </div>

            <div class="modal-footer">
                <span>{{ _("Documentation réalisée en MarkDown.") }}</span>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="Help"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-file"></i> {{ _("Document - Éditer les informations") }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="updateAlert"></div>
                {% block file %}
                    {{ _("Pas d'informations. Ouvrez ou créez un document.") }}
                {% endblock %}
            </div>
            <div class="modal-footer">
                <span><i>{{ _("Les modifications seront sauvegardées automatiquement.") }}</i></span>
                <a href="#" id="submitFileChanges" class="btn btn-success">{{ _('Valider') }}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="Help"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fas fa-file-download"></i> {{ _("Document") }} - {{ _("Exporter") }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block exp %}
                    {{ _("Pas d'informations. Ouvrez ou créez un document.") }}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {{ _("N'ayez crainte, malgré le message d'avertissement, vous ne quitterez pas la page.") }}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="Settings" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-sliders-h"></i> {{ _("Paramètres généraux") }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <a href="{{ url_for('account') }}">
                        <i class="fas fa-user-circle"></i> {{ _("Votre Compte") }}</a>
                </ul>
            <hr>
                <ul>
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}">
                            <i class="fas fa-sign-in-alt"></i> {{ _("Se connecter") }}</a>
                    {% else %}
                        <a href="{{ url_for('logout') }}">
                            <i class="fas fa-sign-out-alt"></i> {{ _("Se déconnecter") }}</a>
                    {% endif %}
                </ul>
            <hr>
                <ul>
                    {{ _("Langue d'affichage") }}
                    <select class="form-control form-control-sm" onchange="setLang(this)">
                        <option value="fr" {% if session['lang']=="fr" %}selected{% endif %}>Français</option>
                        <option value="en" {% if session['lang']=="en" %}selected{% endif %}>English</option>
                    </select>
                </ul>
            <hr>
            <ul>
                <a href="{{ url_for("about") }}">{{ _("À propos.") }}</a>
            </ul>
            </div>
        </div>
    </div>
</div>


{% block mainScripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/48b867fd01.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/showdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tools.js') }}"></script>

{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>