{% extends "structure.html" %}

{% block title %}{{ _("Historique des versions") }}{% endblock %}

{% block bttnFile %}disabled{% endblock %}
{% block save %}disabled{% endblock %}
{% block saveSettings %}disabled{% endblock %}
{% block bttnInsert %}disabled{% endblock %}
{% block export %}disabled{% endblock %}
{% block files %}{% endblock %}
{% block create %}{% endblock %}
{% block explorer %}active{% endblock %}
{% block statut %}{% endblock %}
{% block explorerHref %}{{ url_for("explore", directory=file.directory) }}{% endblock %}

{% block body %}
    {% if versions == [] %}

    {% else %}
        <div class="row" style="padding: 7px">
            <div class="col">
                <div class="card overflow" style="height: 30vh; overflow-x: hidden;">
                    <div class="card-header">
                        <i class="fas fa-info-circle"></i>
                        <i> {{ _("Sélectionnez l'une des %(num)s versions trouvées.", num=versions|length) }}</i>
                    </div>
                    <table class="table table-hover table-light">
                        <thead>
                        <th scope="col" class="bg-light"><i class="fas fa-hashtag"></i></th>
                        <th scope="col" class="bg-light"><i class="fas fa-pen"></i></th>
                        <th scope="col" class="bg-light"><i class="fas fa-user-edit"></i></th>
                        <th scope="col" class="bg-light"><i class="fas fa-clock"></i></th>
                        </thead>
                        <tbody>
                        {% for v in versions %}
                            <tr class="pointer-cursor" value="{{ v.id }}" id="select-{{ v.version }}"
                                onclick="selectVersion(this)">
                                <td>{{ v.version }}</td>
                                <td>{{ v|deltaInterprter }}</td>
                                <td>{{ v.idU|idToUsername }}</td>
                                <td>{{ v.create|formTime }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="pointer-cursor text-primary"
                            onclick="window.location='{{ url_for("editer", directory=file.directory) }}'">
                            <td colspan="4" class="text-center font-weight-light"><i class="fas fa-edit"></i>
                                {{ _("Modifier le document et créer une nouvelle version.") }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col col-lg-4">
                <div class="card" style="height: 30vh;">
                    <div class="card-header">{{ _("Informations de la version") }}</div>
                    <div class="card-body overflow" style="padding-top: 0; padding-bottom: 0;">
                        <table>
                            <tbody>
                            <tr>
                                <th scope="row">{{ _("Nom du document") }}</th>
                                <td>
                                    <span id="fileName">
                                    <div class="spinner-border spinner-border-sm" role="status"></div>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ _("Première langue") }}</th>
                                <td>
                                    <span class="lang0">
                                        <div class="spinner-border spinner-border-sm" role="status"></div>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ _("Deuxième langue") }}</th>
                                <td>
                                    <span class="lang1">
                                        <div class="spinner-border spinner-border-sm" role="status"></div>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{{ _("Troisième langue") }}</th>
                                <td>
                                    <span class="lang2">
                                        <div class="spinner-border spinner-border-sm" role="status"></div>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <button type="button" class="btn btn-success form-control" data-toggle="modal"
                                data-target="#restoreModal">
                            <i class="fas fa-history"></i> | {{ _("Restaurer cette version") }}
                        </button>

                        <div id="restoreModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"><i
                                                class="fas fa-history"></i> {{ _("Outil de restauration") }}</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ _("Voulez vous vraiment restaurer cette version ?") }}</p>
                                        <p>{{ _("Les versions ultérieures seront <b>définitivement</b> perdues.") }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="restore-btn" class="btn btn-warning" onclick="restoreVersion(this)">
                                            {{ _("Restaurer cette version") }}
                                        </button>
                                        <button type="button" class="btn btn-light" data-dismiss="modal">
                                            {{ _("Annuler") }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 7px">
            <div class="col">
                <div class="card explorer-preview">
                    <div class="card-header lang0">
                        <div class="spinner-grow spinner-grow-sm" role="status"></div>
                        {{ _("Chargement...") }}
                    </div>
                    <div class="card-body overflow syncScroll" id="text0" onscroll="syncScroll(this)"
                         onmouseover="scroller(this)" onmouseleave="unscroll(this)">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card explorer-preview">
                    <div class="card-header lang1">
                        <div class="spinner-grow spinner-grow-sm" role="status"></div>
                        {{ _("Chargement...") }}
                    </div>
                    <div class="card-body overflow syncScroll" id="text1" onscroll="syncScroll(this)"
                         onmouseover="scroller(this)" onmouseleave="unscroll(this)">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card explorer-preview">
                    <div class="card-header lang2">
                        <div class="spinner-grow spinner-grow-sm" role="status"></div>
                        {{ _("Chargement...") }}
                    </div>
                    <div class="card-body overflow syncScroll" id="text2" onscroll="syncScroll(this)"
                         onmouseover="scroller(this)" onmouseleave="unscroll(this)">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/showdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/versionsExplorer.js') }}"></script>
{% endblock %}